<!DOCTYPE html>
<html ng-app="app1" ng-init="person = {fName: 'javi', lName: 'olaya'};capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]">
    <meta charset="utf-8">
    <title>javi Angular test</title>
  </head>
  <body>
    <div ng-controller="ctrl1">
        <span>Values: </span>
         <input type="text" ng-model="first" >
         <input type="text" ng-model="second" >
         <button ng-click="updateValue() " type="button" name="button">
           Sum
         </button>
         <br><br>

         {{calculation}}
         <p>5+5={{5+5}}  </p>
         <p>Your first value is{{first}} </p>
        <p> your second value is:  <span data-ng-bind="second"> </span></p>
        <p>{{person.fName + " "+ person.lName  }} you entered {{first +" and "+ second }} </p>
        <ul>
          <li ng-repeat="capital in capitals">
            {{"City:" + capital.city + "State" + capital.state }}
          </li>
        </ul>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" >
    </script>
    <script type="text/javascript" src="js/exam1.js">

    </script>
  </body>
</html>
